#contact {
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
    height: 963px;
    padding-top: 88px;
    background-color: #3a3a3a;
    opacity: 1;
    color: white;
}

#contact>.wrap-contact{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#contact>.wrap-contact:nth-child(1){
    align-items: flex-start;
}

#contact>div>.contact-title{
    padding: 50px;    
    font-size: 70px;
    font-weight: 700;
}

#contact>div>.contact-item{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#contact>div>.contact-item>.con-name{
    flex: 1;
    font-size: 50px;
    font-weight: 500;

}

#contact>div>.contact-item>ul{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 1;
    font-size: 25px;
    font-weight: 600;

}
