.service {
    height: 100vh;
}

#servicepost {
    animation: smoothAppear 1s;
}

#consulting {
    animation: smoothAppear 1s;
}

#enterprise {
    animation: smoothAppear 1s;
}

#edu {
    animation: smoothAppear 1s;
}

#student {
    animation: smoothAppear 1s;
}

#research {
    animation: smoothAppear 1s;
}