#panel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 963px;
    padding-top: 88px;
    margin: 0 210px;
}

#panel>div>.panel-title {
    position: relative;
    font-size: 70px;
    font-weight: bold;
}

#panel>div>.panel-title::after {
    position: absolute;
    content: "";
    left: 45%;
    top: 50%;
    /*시작 위치*/
    transform: translateX(-50%);
    /*동작방향? 범위느낌*/
    width: 490px;
    height: 40px;
    background: orange;
    transition: all 0.3s ease-out;
    z-index: -1;
}

#panel>div>.panel-intro {
    margin-top: 5%;
    margin-bottom: 5%;
}

#panel>div>.panel-items {
    display: flex;
    justify-content: space-around;
    text-align: center;
}

#panel>div>ul>.panel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 300px;
    border: 1px solid black;
    box-shadow: 0 14px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);

}

#panel>div>ul>.panel:hover {
    box-shadow: 0px 20px 30px orange, 0 10px 10px rgba(0, 0, 0, 0.22);
}

#panel>div>ul>li>.panel-img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 117px;
    height: 156px;
    border: 1px solid black;
}