#enterprise {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* height: 963px; */
}

#enterprise>.wrap-ent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#enterprise>div>.ent-title {
    position: relative;
    font-size: 40px;
    font-weight: bold;
}

#enterprise>div>.ent-title::after {
    position: absolute;
    content: "";
    left: 50%;
    bottom: -10px;
    /*시작 위치*/
    transform: translateX(-50%);
    /*동작방향? 범위느낌*/
    width: 100%;
    height: 4px;
    background: orange;
    transition: all 0.3s ease-out;
    z-index: -1;
}

#enterprise>div>.ent-contents {
    margin: 10% 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#enterprise>div>.ent-items {
    display: flex;
    align-items: center;
    width: 100%;
}

#enterprise>div>.ent-items>ul {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

#enterprise>div>.ent-items>ul>li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 250px;
    height: 300px;
    margin: 0 30px;
    border: 1px solid black;
}