.footer {
    height: 400px;
    background-color: #3A3A3A;
    color: white;
}

.wrap-footer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    margin: 0 10%;

}

.wrap-footer>.footer-items {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.footer-list {
    margin-top: 10px;
}

#footer-entitle {
    font-size: 50px;
    font-weight: bold;
}

#footer-krtitle {
    font-size: 20px;
    font-weight: bold;
}