.footer {
    height: 400px;
    background-color: #3A3A3A;
    color: white;
}

.wrap-footer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    margin: 0 210px
}

.wrap-footer>.footer-items {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.footer-list {
    margin-top: 10px;
}

#footer-entitle {
    font-size: 30px;
    font-weight: bold;
}

#footer-krtitle {
    font-size: 20px;
    font-weight: bold;
}

@media screen and (max-width:480px) {
    .footer {
        height: 200px;
    }

    .wrap-footer {
        margin: 0 50px
    }

    .footer-list {
        margin-top: 10px;
        font-size: 9px;
    }

    #footer-entitle {
        font-size: 15px;
        font-weight: bold;
    }

    #footer-krtitle {
        font-size: 12px;
        font-weight: bold;
    }

}