#introservice {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 745px;
    /* padding-top: 88px; */
    margin: 0 210px;
}

#introservice .wrap-intro-svc {
    padding: 100px 0;
}

#introservice>div>.introsvc-title>h3 {
    font-size: 45px;
    position: relative;
}

#introservice>div>.introsvc-title>h3::after {
    position: absolute;
    content: "";
    left: 50%;
    bottom: -10px;
    /*시작 위치*/
    transform: translateX(-50%);
    /*동작방향? 범위느낌*/
    width: 100px;
    height: 5px;
    background: orange;
    transition: all 0.3s ease-out;
    z-index: -1;
}

#introservice>div>.introsvc-item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 5%;
}

#introservice>div>.introsvc-item>li {
    display: flex;
    flex: calc(50% - 50px);
    max-width: 650px;
    min-width: 300px;
    height: 150px;
    margin: 30px 25px;
    padding: 20px 15px;
    border-radius: 5px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.22);
}

#introservice>div>.introsvc-item>li:hover {
    box-shadow: 0px 10px 30px rgba(0, 81, 255, 0.418);

}

#introservice>div>.introsvc-item>li>li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

}


#introservice>div>.introsvc-item>li>.svc-img {
    width: 100px;
    min-width: 100px;
    align-items: center;

}

#introservice>div>.introsvc-item>li>.svc-item {
    width: 100%;
    position: relative;
}

#introservice>div>.introsvc-item>li>.svc-item span:nth-child(-n+2) {
    margin-bottom: 10px;
}

#introservice>div>.introsvc-item>li>.svc-item span:nth-child(2) {
    line-height: 170%;
}

#introservice>div>.introsvc-item>li .svc-item a {
    position: absolute;
    margin-left: auto;
    /* 3번째 span 요소를 오른쪽으로 밀어내기 */
    right: 0%;
    bottom: -15px;
    color: darkgray;
}