#home-main {
    padding-top: 88px;
    margin: 0 210px;
    margin-bottom: 100px;
    height: 620px;
}

#home-main .wrap-main {
    /* margin-top: 100px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 100px 0;
    background-image: url('../../img/paint.jpg');
    opacity: 1;
    height: 100%;
    background-size: cover;
    border-radius: 10px;
    border: 3px solid darkgray;
}

#home-main .title {
    font-weight: bold;
    font-size: 53px;
    color: white;
}

#home-main .title-contents {
    margin-top: 60px;
    font-size: 24px;
    color: white;
}