.nav {
    display: flex;
    flex-direction: row;
    width: 100%;
    position: fixed;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.22);
    /* top: 0;
    left: 0;
    right: 0; */
    z-index: 1;
}

.wrap-nav {
    margin: 0 210px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.nav-tab>ul {
    display: flex;
    flex-direction: row;
    width: 500px;
    height: 88px;
    align-items: center;
}

.nav-tab>ul>li {
    flex: 1;
    font-size: 20px;
    position: relative;
}


/* nav hover effect code*/
.nav-tab>ul>li>.tab-link {
    position: relative;
    padding: 6px 0;
}

.nav-tab>ul>li>.tab-link::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    /*시작 위치*/
    transform: translateX(-50%);
    /*동작방향? 범위느낌*/
    width: 0%;
    height: 4px;
    background: orange;
    transition: all 0.3s ease-out;
}

.nav-tab>ul>li>.tab-link:hover::after {
    width: 100%;
}

/*end*/

/*nav dropdownd code*/


.sub-tab {
    position: absolute;
    right: 10%;
    top: 70px;
    width: 80%;
    background-color: white;
    font-size: 18px;
    padding: 5% 0;
    border-radius: 10px;
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s ease-out
}

.main-tab>li:hover ul.sub-tab {
    visibility: visible;
    opacity: 1;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);

}

.sub-tab>li {
    margin: 15% 0;
    /* border-radius: 5px; */
    transition: .3s ease-out;
    padding: 8px 0;
}

.sub-tab>li:hover {
    .sub-link {
        color: white;
    }

    background-color: #a9a9a9;
}






/* .sub-tab {
    background: white;
    border-radius: 10px;
    display: none;
    padding: 5%;
    font-size: 18px;
    margin-top: 25%;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out, opacity 0.3s ease-out, visibility 0s 0.3s;
    opacity: 0;
}

.sub-tab>li {
    margin: 15% 0;
    border-radius: 5px;
    transition: .3s ease-out;
    padding: 8px 0;
} */

/*nav sub-tab effect*/
/* .sub-tab>li:hover {
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.22);
}

.main-tab>li:hover ul.sub-tab {
    display: block;
    max-height: 1000px;
    opacity: 1;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    transition: max-height 0.3s ease-out, opacity 0.3s ease-out, visibility 0s;
}
 */

.tab-link,
.sub-link {
    color: black;
}