#servicepost {
    height: 700px;
    padding-top: 88px;
    margin: 0 210px;
    display: flex;
    /* border-bottom: 1px solid black; */
}

#servicepost>.wrap-spost {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

#servicepost>.wrap-spost::before {
    position: absolute;
    content: "";
    left: 75%;
    width: 182.8%;
    height: 90%;
    /* background-color: gray; */
    background-image: url('../../img/serviceimg.jpg');
    background-size: 100% 100%;
    border-radius: 10px;
    opacity: 0.9;
    z-index: -1;
}

#servicepost>div>.service-title {
    /* margin-top: 8%; */
    font-size: 170px;
    font-weight: bold;
}

#servicepost>div>.service-tabs {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#servicepost>div>ul>.tab {
    position: relative;
    font-size: 50px;
    font-weight: 600;
}

#servicepost>div>ul>.tab::after {
    content: "";
    position: absolute;
    bottom: 5%;
    left: -70px;
    /*시작 위치*/
    transform: translateX(0%);
    /*동작방향? 범위느낌*/
    width: 0%;
    height: 20px;
    background: orange;
    border-radius: 5px;
    transition: all 0.8s ease-out;
    z-index: -1;
}

#servicepost>div>ul>.tab:hover::after {
    width: 100%;
}

#servicepost>div>ul>.tab>a {
    color: black;
}

#servicepost>div>ul>.tab>a::after {
    content: "";
    position: absolute;
    bottom: 5%;
    left: -70px;
    /*동작방향? 범위느낌*/
    width: 0%;
    height: 20px;
    border-radius: 5px;
    background: orange;
    transition: all 0.8s ease-out;
    z-index: -1;
}

#servicepost>div>ul>.tab>.selected::after {
    width: 100%;
}


@media screen and (max-width:480px) {
    #servicepost {
        height: 350px;
        padding-top: 60px;
        margin: 0 30px;
        /* border-bottom: 1px solid black; */
    }

    #servicepost>.wrap-spost::before {
        width: 130%;
        height: 80%;
        background-size: 100% 100%;
    }

    #servicepost>div>.service-title {
        /* margin-top: 8%; */
        font-size: 50px;
    }

    #servicepost>div>ul>.tab {
        font-size: 18px;
    }

    #servicepost>div>ul>.tab::after {
        bottom: 15%;
        left: -15px;
        height: 5px;
    }

    #servicepost>div>ul>.tab:hover::after {
        width: 100%;
    }

    #servicepost>div>ul>.tab>a {
        color: black;
    }

    #servicepost>div>ul>.tab>a::after {
        bottom: 15%;
        left: -15px;
        height: 5px;
    }

    #servicepost>div>ul>.tab>.selected::after {
        width: 100%;
    }
}